@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #93c5fd;
  font-family: 'Encode', sans-serif;
}
