@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;700;900&family=Open+Sans:wght@800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --childhood-color: #eab308;
  --adolescence-color: #ea580c;
  --early-adulthood-color: #e879f9;
  --middle-adulthood-color: #9333ea;
  --mature-adulthood-color: #38bdf8;
  --late-adulthood-color: #22c55e;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Encode', sans-serif;
}

.container {
  /* width: 50%;
  max-width: 700px; */
  width: fit-content;
  margin: 0 auto;
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.container h1 {
  font-size: 3rem;
  letter-spacing: 1.2px;
  font-family: 'Open Sans', sans-serif;
}

.top-label {
  padding-left: 62px;
  align-self: flex-start;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow {
  margin-left: -11px;
}

.content-flex {
  /* border: 2px solid purple; */
  display: flex;
  gap: 15px;
}

.side-label {
  display: flex;
  align-items: flex-start;
}

.side-label-text {
  writing-mode: vertical-rl;
  margin-top: 10px;
  margin-left: 5px;
}

.bubble-container {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  gap: 1px;
  margin-bottom: 1px;
}

.flex-container {
  display: flex;
  gap: 8px;
}

.childhood-flex {
  margin-top: 10px;
}

.counting-flex {
  width: 12px;
}

.counting-flex ol {
  list-style-type: none;
  font-size: 9px;
  line-height: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lifestage-label {
  writing-mode: vertical-rl;
  font-size: 11px;
  font-weight: bold;
  margin-right: -6px;
}

.childhood-label {
  color: var(--childhood-color);
}

.adolescence-label {
  color: var(--adolescence-color);
}

.early-adulthood-label {
  color: var(--early-adulthood-color);
}

.middle-adulthood-label {
  color: var(--middle-adulthood-color);
}

.mature-adulthood-label {
  color: var(--mature-adulthood-color);
}

.late-adulthood-label {
  color: var(--late-adulthood-color);
}

#childhood-container {
  grid-template-rows: repeat(12, 1fr);
}

#adolescence-container {
  grid-template-rows: repeat(7, 1fr);
}

#early-adulthood-container,
#middle-adulthood-container {
  grid-template-rows: repeat(15, 1fr);
}

#mature-adulthood-container {
  grid-template-rows: repeat(30, 1fr);
}

#late-adulthood-container {
  grid-template-rows: repeat(21, 1fr);
}

.bubble {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid;
}

.childhood {
  border-color: var(--childhood-color);
}

.adolescence {
  border-color: var(--adolescence-color);
}

.early-adulthood {
  border-color: var(--early-adulthood-color);
}

.middle-adulthood {
  border-color: var(--middle-adulthood-color);
}

.mature-adulthood {
  border-color: var(--mature-adulthood-color);
}

.late-adulthood {
  border-color: var(--late-adulthood-color);
}

.late-adulthood:last-of-type {
  background-color: black;
  border: 1px solid black;
}
